#app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.cell {
  width: 80px;
  height: 80px;
  background-color: #ccc;
  border: 1px solid #000;
  text-align: center;
  font-weight: bold;
  margin: 4px;
}

.row {
  display: flex;
  max-width: 100%;
}

.selected-cell {
  background-color: #ffcc00 !important;
}

.move-range{
  background-color:#4CAF50;
}

.action-range{
  background-color:#ec2a2d;
}

.player1-cell {
  background-color: #ff000065;
}

.player2-cell {
  background-color: #fff;
}

.message-window {
  width:640px;
  padding: 16px;
  border: ridge 4px #fff;
  border-radius: 10px;
  background-color: #000000;
  justify-content:center;
  color: #fff;
  margin: 0 auto ;
}

.message-box {
  padding: 2px;
  display: flex;
  justify-content:center;
  background-color: #000000;
  border-radius: 12px;
  margin: 30px 0 30px 0;
}

.message-modal{
  width:400px;
  height:64px;
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: rgba(0, 0, 0, 0.8); 
  padding: 20px;
  border: 2px solid #333; 
  border-radius: 8px; 
  color: #fff; 
}

.message-modalBox{
  text-align :center;
  font-size: 16px;
  line-height: 1.4;
}

.btn{
  position:absolute;
  right:30px;
  bottom:10px;
}

.btn2{
  position:absolute;
  right:30px;
  bottom:10px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.message-dog {
  width: 400px;
  height: 600px;
  position: fixed;
  top: 10%;
  right: -10%;
  padding: 20px;
  border-radius: 8px;
  color:#fff;
}

.message-dog2{
  width: 400px;
  height: 600px;
  position: fixed;
  top: 50%;
  left:5%;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
}


.balloon2 {
  position: relative;
  display: block;
  padding: 7px 10px;
  height: 120px; 
  min-width: 150px;
  max-width: 30%;
  color: #555;
  font-size: 24px;
  text-align: center;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
}

.balloon2:before {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-top: 12px solid #FFF;
  z-index: 2;
}

.balloon2:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-top: 14px solid #555;
  z-index: 1;
}

.balloon2 p {
  margin: 0;
  padding: 0;
}
